In [2]:
import pandas as pd

In [ ]:
# !pip install gspread

In [3]:
import gspread

In [6]:
# getting file path 
gc = gspread.service_account(filename = "C:\\Data science\\ML_Regression\\lustrous-bus-405109-a96f75d08771.json")

In [7]:
gc

In [8]:
# for the spreadsheet url
sheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1zCFLGQ0NiYY-mj-VxyMOTnXTmJlMamWKcoU3ArJKCJ4/edit?usp=sharing')

In [9]:
sheet

In [11]:
ws = sheet.worksheet('emp1') # specific sheet11 or sheet2

In [12]:
ws

In [13]:
df = pd.DataFrame(ws.get_all_records())

In [14]:
df

       Name  Salary
0     Rakib   45000
1     Rifat   50000
2    Ashraf   47000
3      Tipu   60000
4    Parvez   55500
5  Shahadat   52200

In [15]:
ws2 = sheet.worksheet('emp2')
df2 = pd.DataFrame(ws2.get_all_records())
df2

    Name  Salary
0  Abdul   30000
1  Habib   33000
2  Jabed   40000